<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889532496153-5btojjjllgph53u717h7s6rdqvkobc1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889532496153-5btojjjllgph53u717h7s6rdqvkobc1c</string>
	<key>API_KEY</key>
	<string>AIzaSyBSUWOSjj1ZlkJvNYcRwLgleVebnFqTVKM</string>
	<key>GCM_SENDER_ID</key>
	<string>889532496153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyFood.mikemertens</string>
	<key>PROJECT_ID</key>
	<string>myfood-36e7a</string>
	<key>STORAGE_BUCKET</key>
	<string>myfood-36e7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889532496153:ios:ee3e2eb65c67cec59e2d88</string>
	<key>DATABASE_URL</key>
	<string>https://myfood-36e7a.firebaseio.com</string>
</dict>
</plist>